@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #0459ba;
    --second-color: #192f6a;
    --text-color: #314862;
    --bg-color: #fff;

    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo .bx{
    font-size: 24px;
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--main-color);
}

.menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#menu{
    display: none;
}

.btn{
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}

.btn:hover{
    background: #358df2;
}

.btn1{
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}

.btn1:hover{
    background: #358df2;
}

.btn2{
    float: right;
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}

.btn2:hover{
    background: #358df2;
}

.home{
    margin-top: 5rem;
    background: url(https://player.vimeo.com/external/539010630.sd.mp4?s=eece48149dc657ed00be70b5c104a962ca5e7f95&profile_id=164&oauth2_token_id=57447761);
    background-repeat: repeat;
    background-size:auto;
    background-position: center;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.video {
   margin-left: 8rem;
    margin-bottom: 4rem;
}

.home-video video {
    border-radius: 2rem;
}


.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 2rem;
}

.about-img img{
border-radius: 2rem 0 2rem 2rem;

}

.about-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-color);
}

.about-text h2{
    font-size: 1.7rem; 
}

.about-text p{
    text-align: left;
    width: 390px;
    font-size: 1.1rem;
    margin: 1rem 0 1rem;
}

:root{
    --background-dark: #ffffff;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}
  
*{
    border: 0;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
  
html{
     height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
  
body{
    height: 100%;
}
  
.property{
    align-items: flex-start;
    background-image: linear-gradient(15deg, #ffffff 0%, #ffffff 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}
  
.card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}
  
@media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
}
  
@media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(3, 1fr); 
    }
}
  
.card{
    list-style: none;
    position: relative;
}
  
.card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}
  
.card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
}
  
.card:hover .card__background{
    transform: scale(1.05) translateZ(0);
}
  
.card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.75) saturate(1.2) contrast(0.85) blur(12px);
}
  
.card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}
  
.card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}
  
.card__heading{
    color: var(--text-lighter);
    font-size: 3rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}
/* Log IN */
.login {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    min-height: 100vh;
    margin-top: 2rem;
}
.login-container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.login-container h2{
    font-size:  2.4rem;
}
.login-container p{
    font-size: 1rem;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form span {
    font-size: 0.9rem;
    color: #8a8a8a;
    margin-bottom: 4px;
}

.login-container form input{
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 10px;
    margin-bottom: 1rem;
    background: var(--bg-color);
}

.login-container .button{
    outline: none;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
    font-size: 14px;
}
 
.login-container form .button:hover {
    background: #3492fd;
}

.login-container form a{
    font-size: 0.9;
    text-align: right;
}

.login-container .btn {
    border-radius: 0;
    text-align: center;
}